@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    margin-right: 20px;
  }
}
/* 
.App-header {
  background-color: #2c001e;
  color: white;
} */

.App-link {
  color: #ccc;
}

@keyframes App-logo-spin {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  100% {
    left: 100px;
    transform: rotate(360deg);
  }
}
